@import url("https://fonts.googleapis.com/css2?family=Montserrat");
@keyframes collapse-content {
  from {
    margin-top: -47px;
  }
  to {
    margin-top: -5px;
  }
}
@keyframes header-menu {
  from {
    height: 2px;
    width: 0;
    margin-left: 50%;
  }
  to {
    height: 2px;
    width: 100%;
    margin-left: 0;
  }
}
html,
body {
  max-width: 1440px;
  font-family: "Montserrat", sans-serif;
  margin: auto;
}

body {
  margin: 0;
}

main {
  margin: 0 3.5%;
}

ul {
  list-style-type: none;
}

.collapse {
  color: #FFFFFF;
  font-weight: 500;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 40px 5%;
  position: sticky;
  top: 0;
  background: #FFFFFF;
  height: 68px;
  z-index: 3;
}
header ul {
  display: flex;
  justify-content: space-evenly;
  width: 400px;
}
header a {
  text-decoration: none;
  color: #FF6060;
  font-size: 24px;
}
header a.current::after {
  content: "";
  display: block;
  height: 2px;
  width: 100%;
  background-color: #FF6060;
}
header ul a:not(.current):hover::after {
  content: "";
  display: block;
  animation: header-menu 0.2s both;
  background-color: #FF6060;
}
@media screen and (max-width: 768px) {
  header {
    padding: 5% 5% 0 5%;
  }
  header ul {
    width: 75%;
    margin-bottom: 0;
  }
  header a {
    font-size: 12px;
  }
  header .logo-header {
    height: 47px;
    width: 145px;
  }
}

footer {
  background: black;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 62px;
}
footer .logo-footer {
  height: 40px;
}
@media screen and (max-width: 768px) {
  footer {
    font-size: 12px;
  }
}

@keyframes load {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
#page-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 33vw;
}

#loader {
  width: 50px;
  height: 50px;
  border: 5px solid #FF6060;
  border-bottom-color: transparent;
  border-radius: 50%;
  animation: load 1s linear infinite;
}

#home #banner-home {
  width: 100%;
  height: 223px;
  margin: 43px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: 50% 50% !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  border-radius: 25px;
  color: #FFFFFF;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
@media screen and (max-width: 768px) {
  #home #banner-home {
    width: auto;
    height: 111px;
    margin: 0;
    font-size: 24px;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 16px;
  }
}
#home #liste {
  display: grid;
  grid-template-columns: 27% 27% 27%;
  justify-content: center;
  -moz-column-gap: 60px;
       column-gap: 60px;
  row-gap: 50px;
  background-color: #F7F7F7;
  padding: 56px 0;
  width: 100%;
  margin: 43px 0;
  border-radius: 25px;
}
#home #liste a {
  text-decoration: none;
  color: #FFFFFF;
  width: 100%;
  height: 340px;
}
#home #liste .cover {
  width: 100%;
  height: 340px;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  display: block;
  border-radius: 10px;
}
#home #liste .title {
  display: flex;
  padding-left: 20px;
  align-items: last baseline;
  height: 320px;
  max-width: 175px;
}
@media screen and (max-width: 768px) {
  #home #liste {
    display: flex;
    flex-direction: column;
    background: none;
    padding: 0 0;
    width: 100%;
    margin: 0 0;
    max-width: none;
    row-gap: 20px;
  }
  #home #liste a {
    width: 100%;
    height: 255px;
    margin-top: 0;
  }
  #home #liste a:first-child {
    margin-top: 22px;
  }
  #home #liste a:last-child {
    margin-bottom: 22px;
  }
  #home #liste .cover {
    width: 100%;
    height: 255px;
  }
  #home #liste .title {
    display: flex;
    padding-left: 20px;
    align-items: last baseline;
    height: 235px;
    max-width: 100px;
    margin-top: 0;
  }
}

#about #about-banner {
  height: 223px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 31px 0;
  border-radius: 25px;
  margin-top: 0;
}
#about .collapse {
  width: 80%;
  margin: auto;
}
@media screen and (max-width: 768px) {
  #about .collapse {
    margin-bottom: 20px !important;
    width: 100%;
  }
  #about .collapse h2 {
    font-size: 13px;
  }
}
#about .collapse-banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 47px;
  padding: 0 3% 0 1%;
  background: #FF6060;
  border-radius: 5px;
  cursor: pointer;
}
#about .collapse-banner .arrow-opened,
#about .collapse-banner .arrow-closed {
  height: 14px;
  width: 24px;
  background: url("../../assets/collapse-arrow.svg");
  transition: all 0.1s;
  background-repeat: no-repeat;
}
#about .collapse-banner .arrow-opened {
  transform: rotate(-180deg);
}
#about .collapse-content {
  background: #F6F6F6;
  color: #FF6060;
  padding: 10px;
  padding-top: 30px;
  width: calc(100% - 20px);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 24px;
  margin-top: 0px;
  height: 100%;
  font-weight: 400;
}
@media screen and (max-width: 768px) {
  #about .collapse-content {
    font-size: 12px;
  }
}
#about .collapse-content::before {
  content: "";
  border-top: 15px solid #F6F6F6;
  width: calc(100% + 20px);
  margin-left: -10px;
  position: relative;
  z-index: -1;
  display: block;
  margin-top: -35px;
}

#fiche {
  color: #FF6060;
}
#fiche #carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1400px;
  height: 415px;
  position: relative;
}
#fiche #carousel .slideShow {
  max-height: 415px;
  height: 415px;
  min-width: 100%;
  max-width: 1400px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 25px;
}
#fiche #carousel .counter {
  position: absolute;
  bottom: 25px;
  color: #FFFFFF;
  font-size: 18px;
}
#fiche #carousel .arrow {
  position: absolute;
  width: 45px;
  height: 80px;
  margin-left: calc(100% - 40px - 105px);
  cursor: pointer;
}
#fiche #carousel .arrow.reverse {
  margin-left: calc(-100% + 40px + 105px);
  rotate: 180deg;
}
@media screen and (min-width: 1440px) {
  #fiche #carousel .arrow {
    position: absolute;
    width: 45px;
    height: 80px;
    margin-left: 1240px;
  }
  #fiche #carousel .arrow.reverse {
    margin-left: -1240px;
    rotate: 180deg;
  }
}
#fiche #main {
  display: flex;
  justify-content: space-between;
  margin-top: -10px;
}
#fiche #main #infosLogements h1 {
  font-size: 36px;
  margin-bottom: 0;
  margin-top: 24px;
}
#fiche #main #infosLogements p {
  height: 18px;
  margin-top: 5px;
}
#fiche #main #infosLogements ul {
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
  padding-left: 0;
  margin-top: 20px;
  flex-wrap: wrap;
  row-gap: 10px;
}
#fiche #main #infosLogements ul li {
  background: #FF6060;
  border-radius: 10px;
  color: #FFFFFF;
  padding: 3px 30px;
  text-align: center;
}
#fiche #main #infos {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
#fiche #main #infos #notations {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 15px;
}
#fiche #main #infos #notations #stars {
  display: flex;
  height: 25px;
  -moz-column-gap: 15px;
       column-gap: 15px;
  justify-content: flex-end;
  width: 189px;
}
#fiche #main #infos #notations #stars .stars {
  height: 24px;
  width: 24px;
}
#fiche #main #infosOwner {
  display: flex;
  align-items: center;
}
#fiche #main #infosOwner p {
  width: 100px;
  text-align: right;
  line-height: 25px;
  margin-right: 20px;
}
#fiche #main #infosOwner img {
  border-radius: 50%;
  margin: 5px 0px 10px 0px;
  height: 64px;
  width: 64px;
}
#fiche #collapse {
  display: flex;
  -moz-column-gap: 6%;
       column-gap: 6%;
}
#fiche .gridElement {
  width: 47%;
}
#fiche .collapse {
  width: 100%;
  margin: auto;
}
#fiche .collapse-banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 47px;
  padding: 0 3% 0 1%;
  background: #FF6060;
  border-radius: 5px;
  cursor: pointer;
}
#fiche .collapse-banner .arrow-opened,
#fiche .collapse-banner .arrow-closed {
  height: 14px;
  width: 24px;
  background: url("../../assets/collapse-arrow.svg");
  transition: all 0.1s;
  background-repeat: no-repeat;
}
#fiche .collapse-banner .arrow-opened {
  transform: rotate(-180deg);
}
#fiche .collapse-content {
  background: #F6F6F6;
  color: #FF6060;
  padding: 10px;
  padding-top: 30px;
  width: calc(100% - 20px);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 18px;
  margin-top: 0px;
  height: 100%;
  font-weight: 400;
  margin-bottom: 1px;
}
#fiche .collapse-content::before {
  content: "";
  border-top: 15px solid #F6F6F6;
  width: calc(100% + 20px);
  margin-left: -10px;
  position: relative;
  z-index: -1;
  display: block;
  margin-top: -35px;
}
#fiche .collapse-list {
  padding: 10px;
  padding-top: 0;
  width: calc(100% - 20px);
  margin-top: 0;
  height: 100%;
  font-weight: 400;
  margin-bottom: 1px;
  display: flex;
  flex-direction: column;
  line-height: 25px;
}
@media screen and (max-width: 768px) {
  #fiche #carousel {
    height: 255px;
  }
  #fiche #carousel .slideShow {
    max-height: 255px;
    height: 255px;
  }
  #fiche #carousel .arrow {
    width: 12px;
    height: 20px;
    margin-left: calc(100vw - 20%);
  }
  #fiche #carousel .arrow.reverse {
    margin-left: calc(-100vw + 20%);
  }
  #fiche #carousel .counter {
    display: none;
  }
  #fiche #main {
    flex-direction: column;
  }
  #fiche #main #infosLogements h1 {
    font-size: 18px;
  }
  #fiche #main #infosLogements p {
    height: 14px;
  }
  #fiche #main #infosLogements ul {
    margin-bottom: 18px;
  }
  #fiche #main #infosLogements ul li {
    font-size: 10px;
  }
  #fiche #main #infos {
    flex-direction: row-reverse;
    align-items: center;
  }
  #fiche #main #infos #notations {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin-bottom: 0;
  }
  #fiche #main #infos #notations #stars {
    display: flex;
    height: 15px;
    -moz-column-gap: 7px;
         column-gap: 7px;
    justify-content: flex-start;
    width: 100%;
  }
  #fiche #main #infos #notations #stars .stars {
    height: 14px;
    width: 13px;
  }
  #fiche #main #infosOwner {
    display: flex;
    align-items: center;
  }
  #fiche #main #infosOwner p {
    font-size: 12px;
    width: 50px;
    text-align: right;
    line-height: 17px;
    margin: 0 10px 0 0;
  }
  #fiche #main #infosOwner img {
    border-radius: 50%;
    margin: 0;
    height: 32px;
    width: 32px;
  }
  #fiche #collapse {
    display: flex;
    -moz-column-gap: 6%;
         column-gap: 6%;
    flex-direction: column;
    margin-top: 22px;
    font-size: 13px;
  }
  #fiche #collapse .arrow-opened,
  #fiche #collapse .arrow-closed {
    background-size: 15px 10px;
    height: 10px;
    width: 15px;
  }
  #fiche .gridElement {
    width: 100%;
  }
  #fiche .gridElement ul {
    padding-top: 18px;
  }
  #fiche .collapse-content::before {
    margin-top: -35px;
  }
}

#error {
  color: #FF6060;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
#error header,
#error footer {
  width: 90%;
  max-width: 1440px;
}
#error .error-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 60vh;
  text-align: center;
}
#error .error-message img {
  max-height: 263px;
  height: 75%;
  width: 100%;
}
#error a {
  color: #FF6060;
  margin-bottom: 30px;
}
@media screen and (max-width: 768px) {
  #error footer {
    width: 67%;
    max-width: 767px;
  }
  #error .error-message h1 {
    font-size: 18px;
  }
  #error .error-message img {
    max-height: 99px;
  }
}/*# sourceMappingURL=index.css.map */